
.topnav {
    background-color: #2196F3;
    flex: 1;
    display: flex;
    justify-content: space-between;
    color: rgba(44, 44, 44, 0.87);
  }
  
  /* Style the links inside the navigation bar */
  .topnav p {
    float: center;
    border:none;
    display: inline;
    color: rgb(221, 221, 221);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav input[type=text] {
    float: right;
    text-align: center;
    flex:auto;
    padding: 6px;
    margin: 15px 15px 15px 15px;
    border: none;
    border-radius: 15px;
    font-size: 17px;
  }
  
  @media screen and (max-width: 500px) {
    
    .topnav p, .topnav input[type=text] {
      float: center;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
      
    }
    .topnav p{
      display: none;
    }
  }
  .hidden {
    position: absolute;
    z-index: -1;
    display: none;
  }